.card {
  background-color: #302e31;
}

.card:hover {
  background-color: #0e0315;
}

.card-title {
  color: white;
}

.card-text {
  color: white;
}

.view-btn {
  background-image: linear-gradient(
    to right,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
}

.view-btn:hover {
  background-color: #302e31;
  color: white;
  border-color: #302e31;
}

.card-title {
  background: -webkit-linear-gradient(
    0deg,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
