.container {
  overflow: hidden;
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.accordions {
  animation: slideInFromBottom 1s ease;

  /* .panel-collapse {
    background-color: #0e0315;
  } */

  .card-header {
    background-color: #0e0315;
    border-color: white;
  }

  .btn {
    color: white;
    font-size: larger;
  }

  .btn:active {
    color: white;
  }

  .card-header:hover {
    background-color: #302e31;
  }
}

/* accordion-group::ng-deep .card-header {
  background-color: #0e0315;
}
accordion-group::ng-deep .btn {
  color: white;
  font-size: larger;
}

accordion-group::ng-deep .btn:active {
  color: white;
}

accordion-group::ng-deep .card-header:hover {
  background-color: #302e31;
} */

.white-text {
  color: white;
}

.lighter-text {
  font-weight: lighter;
}

.download-button {
  background: linear-gradient(
    90deg,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.001);
  transition: 256ms all;
  position: relative;
  cursor: pointer;
  background-size: 200% 100%;
  background-position: left center;
}

.download-button:before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background: linear-gradient(
    90deg,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  transition: 256ms all;
  z-index: -1;
  background-size: 200% 100%;
  background-position: left center;
}

.download-button:after {
  background: rgb(24, 24, 24);
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
}

.download-button:hover,
.download-button:hover:before {
  background-position: right center;
}
