<div class="container">
  <div class="row pt-5">
    <!-- Picture -->
    <div class="col-lg  box">
      <div class="text-center card-1">

        <img src="../../assets/dulan.png" alt="profile picture" width="400" height="400"
          class="img-fluid rounded-circle gradient-border " />

      </div>
    </div>

    <!-- About me -->
    <div class="col-lg mt-5">
      <div class="text-center">
        <h2 class="about">Me talking about myself:&#x2769;</h2>
        <p>
          Generative AI enthusiast with hands-on experience in Retrieval-Augmented Generation (RAG) systems, knowledge
          graphs, and AI-driven information extraction solutions. Passionate about exploring innovative applications of AI to solve
          real-world problems. Always eager to learn, adapt, and push the boundaries of what's possible with AI.
        </p>
      </div>
    </div>
  </div>
</div>