<div class="container">
  <div class="row pt-5">
    <!-- Picture -->
    <div class="col-lg  box">
      <div class="text-center card-1">
        <!-- <h2>About me</h2> -->
        <img src="../../assets/vecteezy_bearded-male-cartoon-character-with-sunglasses-minimalist_6541188.jpg"
          alt="profile picture" width="400" height="400" class="img-fluid rounded-circle gradient-border " />
        <!-- <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. At,
          consequatur laudantium. Perspiciatis, consectetur? Doloribus incidunt
          quam laudantium, accusantium eveniet ipsam id ex, eos reprehenderit,
          explicabo dignissimos perferendis deleniti aspernatur cupiditate.
        </p> -->
      </div>
    </div>

    <!-- About me -->
    <div class="col-lg mt-5">
      <div class="text-center">
        <h2 class="about">Me talking about myself:&#x2769;</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. At,
          consequatur laudantium. Perspiciatis, consectetur? Doloribus incidunt
          quam laudantium, accusantium eveniet ipsam id ex, eos reprehenderit,
          explicabo dignissimos perferendis deleniti aspernatur cupiditate.
        </p>
      </div>
    </div>
  </div>
</div>