<div class="container">
  <div class="row pt-5">
    <!-- Picture -->
    <div class="col-lg  box">
      <div class="text-center card-1">

        <img src="../../assets/dulan.jpg" alt="profile picture" width="400" height="400"
          class="img-fluid rounded-circle gradient-border " />

      </div>
    </div>

    <!-- About me -->
    <div class="col-lg mt-5">
      <div class="text-center">
        <h2 class="about">Me talking about myself:&#x2769;</h2>
        <p>
          Adaptable undergraduate exploring the realms of Mobile app development and Full-stack web development.
          I am an aspiring software developer with a focus on continuous learning and a passion for creating
          impactful solutions. Actively seeking collaborative opportunities to gain hands-on experience and
          contribute to innovative projects in the software development industry. I am excited to embark on
          the journey of professional growth.
        </p>
      </div>
    </div>
  </div>
</div>